
<div class="row">
  <div class="input-field col s3">
    <i class="material-icons prefix">language</i>
    <select id="countries" autofocus>
      <option value="" disabled selected> Choose a country</option>
    </select>
  </div>
  <div id="globe" class="col s10">
  </div>
  <div class="col s2">
    <h5 id="country"></h5>
    <div id="country-info">
    </div>
  </div>
</div>

<h5>NASA Earth Exchange Downscaled Climate Projections, Ensemble Averages for Epicodus</h5>
<form>
  <input id="grouped"type="radio" name="mode" value="grouped">
  <label for="grouped"> Grouped</label>
  <input id="stacked" type="radio" name="mode" value="stacked" checked>
  <label for="stacked"> Stacked</label>
</form>
<svg width="12000" height="500" id="bars"></svg>
<svg id="visualization"></svg>

<h3>IPCC AR4 multi-model average of detrended globally averaged TAS anomalies relative to 1980-1999</h3>
<div id="graph">
  <svg id="stream"></svg>
</div>
