/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";

body {
  background-color: black;
  color: white;
  #graph {
    position: fixed;
    left:10px;
    top:100px;
  }
}

@media only screen and (min-width: 993px){
.container {
  width: 85%;
}}

.select-wrapper {
  background-color: aqua;
    input.select-dropdown, span.caret {
    color: black;
  }
}

#visualization rect {
   fill: blue;
 }

#visualization text {
   fill: white;
   font: 10px sans-serif;
   text-anchor: end;
 }

.land {
  fill: green;
  stroke: black;
  stroke-width: 1px;
  transition: fill .4s;
}

.land:hover {
  fill:#33CC33;
  stroke-width: 2px;
}

.graticule {
  fill: none;
  stroke: #79A09E;
  stroke-width: 1;
  stroke-dasharray: 1,1;
}

.water {
  fill: aqua;
}

.country-info {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
